*~
*
!*/

# Whitelist this file
!.gitignore

# shell folder 
!shell/**

# x11 folder
!x11/**

# Font configuration
!fontconfig/**

# GTK configuration
!gtk-3.0/**

# Midnight Commander configuration

!mc/**/**

# Udev rules
!udev/**
